<%# Login Form Container %>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-4 sm:mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">
      <%= t('auth.login.title') %>
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-300 text-center">
      <%= t('auth.login.subtitle') %>
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(url: login_path, class: "space-y-6") do |f| %>
      <div>
        <%= f.label :email, t('auth.login.email'), class: "block text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= f.email_field :email, autocomplete: "off", class: "form-control", required: true %>
        </div>
      </div>

      <div>
        <%= f.label :master_password, t('auth.login.password'), class: "block text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= f.password_field :master_password, autocomplete: "new-password", class: "form-control", required: true %>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          <%= f.label :remember_me, t('auth.login.remember_me'), class: "ml-3 block text-sm leading-6 text-white" %>
        </div>
      </div>

      <div>
        <%= f.submit t('auth.login.submit'), class: "btn-primary" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-base text-gray-300">
      <%= t('auth.login.no_account') %>
      <%= link_to t('auth.login.sign_up'), signup_path, class: "text-base font-semibold leading-6 text-gray-300 hover:text-white transition-colors duration-200" %>
    </p>
  </div>
</div>
